/* background coloring */
body,html{
    background-color: slategrey;
}
#weatherDashboard{
    background-color: slategrey;
}

/* style for header */
#header{
    background-color: darkblue;
}
#title{
    color: lightgray;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

/* style for search/saved cities section */
#searchBlock{
    overflow: hidden;
    background-color: slategrey;
    height: 100%;
}
#searchBar{
    padding-top: 10%;
    padding-bottom: 50px;
}
#searchBtn{
    color: darkblue;
}
#savedCities{
    padding-bottom: 75px;
}
.cityBtn{
    margin-left: 10%;
    margin-top: 3%;
    width: 80%;
    height: 40px;
    border-color: lightgray;
    background-color: white;
}
.cityDisplay{
    background-color: #f8f9fa;
    padding: 2%;
    margin-left: 5%;
    margin-top: 3%;
    margin-right: 5%;
}
#info4City{
    list-style-type:none;
}
#cityInfo{
    text-align: center;
}

/* 5 day forecast style */
#castRow{
    margin-left: 3%;
    margin-top: 5%;
    margin-right: 3%;
}
#day1{
    background-color: blue;
    margin: 1%;
    text-align: center;
    color: white;
}
#day2{
    background-color: blue;
    margin: 1%;
    text-align: center;
    color: white;
}
#day3{
    background-color: blue;
    margin: 1%;
    text-align: center;
    color: white;
}
#day4{
    background-color: blue;
    margin: 1%;
    text-align: center;
    color: white;
}
#day5{
    background-color: blue;
    margin: 1%;
    text-align: center;
    color: white;
}